<div class="d-flex align-items-center justify-content-center login-box">
  <div class="card" style="width: 340px;">
    <div class="card-body">
      <h3 class="card-title text-center my-4 mb-5">Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label for="email" class="form-label">Email ID<sup class="text-danger">*</sup></label>
        <input type="email" name="email" class="form-control" formControlName="email" id="email" [ngClass]="{'is-invalid' : loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)}">
      </div>
      <div class="mb-4">
        <label for="password" class="form-label">Password<sup class="text-danger">*</sup></label>
        <input type="password" name="password" class="form-control" formControlName="password" id="password" [ngClass]="{'is-invalid' : loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)}">
      </div>
      <div>
        <button type="submit" class="btn btn-success w-100 text-center">Sign In</button>
      </div>
    </form>
    </div>
  </div>
</div>
